* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    font-family: 'ProximaNova', sans-serif;
    color: #1E2E36;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}

.header:first-child {
    border-bottom: 1px solid rgba(30,46,54, 0.6);
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-inner:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header:nth-child(2) {
    top: 58px;
}

.header-inner__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-inner__title,
.footer-socials__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #1E2E36;
}

.icon{
    width: 20px;
    height: 20px;
}

.header-inner__link, 
.header-inner__item,
.header-inner__tel,
.footer-socials__link {
    text-decoration: none;
}

.header-inner__link,
.footer-socials__link {
    margin-left: 10px;
}

.header-inner__link .icon,
.footer-socials__link .icon {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.header-inner__link:hover .icon,
.footer-socials__link:hover .icon {
    fill: #44C697;
}

.header-inner__tel {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #1E2E36;
}

.header-inner__tel .icon {
    fill: #fff;
    stroke: #1E2E36;
}

.header-inner__tel::after,
.breadcrumbs__item::after {
    content: "";
    border: solid #1E2E36;
    border-width: 0 2px 2px 0;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 6px;
    margin-bottom: 13px;
    margin-top: 6px;
}

.header-inner__tel .icon {
    margin-right: 5px;
}

.header-inner__phone {
    margin-left: 50px;
}

.header-inner__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
}

.header-inner__list {
    margin-left: 15px;
    border-bottom: 3px solid transparent;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;    
}

.header-inner__list:first-child {
    margin-left: 0;
}

.header-inner__list:hover {
    border-bottom: 3px solid #44C697;
}

.header-inner__list--active {
    border-bottom: 3px solid #44C697;
}

.header-inner__item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1E2E36;
}

.header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.breadcrumbs__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;  
    color: #1E2E36;
    margin-right: 38px;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.breadcrumbs__item:hover {
    color: #44C697;
}

.breadcrumbs__item:hover::after {
    border: solid #44C697;
    border-width: 0 2px 2px 0;
}

.breadcrumbs__item:last-child {
    margin-right: 0;
}

.logo-link {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 115px;
}

.logo-link__img {
    display: block;
}

.buttons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 11;
    -ms-flex-positive: 11;
    flex-grow: 11;
}

.buttons-block__btn,
.main-screen__more { 
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    height: 51px;
    border-radius: 3px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.buttons-block__basket {
    color: #1E2E36; 
    background-color: transparent;
    padding-left: 15px;
    padding-right: 25px;
}

.buttons-block__basket .icon {
    vertical-align: bottom;
    width: 30px;
    height: 30px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.buttons-block__basket:hover .icon {
    fill: #fff;
}

.buttons-block__basket:hover {
    color: #fff;
    background-color: #44C697;
}

.buttons-block__order,
.main-screen__more,
.categories__more,
.form-box__send {
    color: #fff;
    background-color: #44C697;
    min-width: 278px;
    margin-left: 30px;
}

.main-screen {
    background-image: url('../images/main_screen/main-sceen_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 164px;
    padding-bottom: 107px;
}

.main-screen__info {
    background: #fff;
    border-left: 15px solid #44C697;
    max-width: 462px;
    padding: 100px 75px;
    text-align: center;  
}

.main-screen__title,
.main-screen__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    color: #1E2E36;
}

.main-screen__title {
    margin-bottom: 50px;
}

.main-screen__subtitle {
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 10px;
}

.main-screen__descrip {
    margin-top: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 125%;
    color: #1E2E36;
}

.main-screen__more,
.categories__more,
.form-box__send {
    display: block;
    text-decoration: none;
    height: inherit;
    padding: 14px 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 210px;
    min-width: inherit;
    margin-bottom: 50px;
    border: 3px solid transparent;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.main-screen__more:hover,
.categories__more:hover,
.form-box__send:hover {
    color: #1E2E36;
    background-color: transparent;
    border: 3px solid #44C697;
}

.main-screen__fraction {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: #1E2E36;
}

.main-screen__fraction--current {
    font-size: 36px;
}

.main-screen__controls {
    margin-top: 9px;
}

.main-screen__btn,
.advantages-carousel__controls {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #1E2E36;
    border-radius: 50%;
    position: relative;
}

.main-screen__btn::after, 
.main-screen__btn::before,
.advantages-carousel__controls::before,
.advantages-carousel__controls::after {
    content: "";
    position: absolute;
    padding: 3px;
}

.main-screen__btn--left::after, 
.main-screen__btn--left::before,
.advantages-carousel__controls--left::after, 
.advantages-carousel__controls--left::before {
    border: solid #1E2E36;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: calc(50% - 4px);
    left: calc(50% - 2px);
    
}

.main-screen__btn--right::after, 
.main-screen__btn--right::before,
.advantages-carousel__controls--right::after, 
.advantages-carousel__controls--right::before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 3px);
    left: calc(50% - 5px);
}

.main-screen__btn--left {
    background-color: transparent;
    margin-right: 5px;
}

.main-screen__btn--right {
    background-color: #1E2E36;
}

.button-down {
    position: relative;
    display: none;
    width: 19px;
    height: 31px;
    border-radius: 10px;
    border: 2px solid #fff;
    left: calc(50% - 10px);
    background-color: transparent;
    cursor: pointer;
}

.button-scroll {
    display: block;
}

.button-down::after {
    content: "";
    position: absolute;
    height: 5px;
    top: 5px;
    left: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
}

.mob-menu {
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    cursor: pointer;
}
.m-line {
    width: 100%;
    height: 1px;
    background-color: #1E2E36;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.mob-menu:hover .m-line {
    background-color: #44C697;
}

/* OUR ADVANTAGES */
.advantages {
    padding-top: 100px;
    padding-bottom: 50px;
}

.advantages__title,
.categories__title,
.about-us__title,
.form__title {
    margin-top: 0;
    margin-bottom: 52px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: #1E2E36;
    position: relative;
}

.advantages__title::before,
.categories__title::before,
.about-us__title::before,
.form__title::before {
    content: "";
    position: relative;
    padding-left: 20px;
    border-left: 20px solid #44c697;
    left: 36px;
    z-index: -1;
}

.advantages-carousel {
    position: relative;
}

.advantages-carousel__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.advantages-carousel__slide {
    position: relative;
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
}

.advantages-carousel__slide:last-child {
    margin-right: 0;
}

.advantages-carousel__slide:hover .advantages-carousel__title {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


.advantages-carousel__slide:hover .advantages-carousel__text {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.advantages-carousel__slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -o-linear-gradient(bottom, rgba(30, 46, 54, 0.5), rgba(30, 46, 54, 0.5));
    background: linear-gradient(0deg, rgba(30, 46, 54, 0.5), rgba(30, 46, 54, 0.5));
    border-radius: 3px;
}

.advantages-carousel__img {
    width: 100%;
    display: block;
}

.advantages-carousel__content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: left;
}

.advantages-carousel__title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;
    color: #fff;
    border-bottom: 3px solid #44C697;
    -webkit-transform: translateY(65px);
    -ms-transform: translateY(65px);
    transform: translateY(65px);
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.advantages-carousel__text {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: #fff;
    -webkit-transform: translateY(75px);
    -ms-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    opacity: 0;
}

.advantages-carousel__controls {
    position: absolute;
    top: calc(50% - 4px);
    background-color: transparent;
    border: 1px solid #fff;
}

.advantages-carousel__controls--left, 
.advantages-carousel__controls--left {
    left: 15px;
}

.advantages-carousel__controls--left::after, 
.advantages-carousel__controls--left::before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

.advantages-carousel__controls--right, 
.advantages-carousel__controls--right {
    right: 30px;
    background: #fff;
}

.advantages-carousel__controls--right::after, 
.advantages-carousel__controls--right::before {
    border: solid #1E2E36;
    border-width: 0 2px 2px 0;
}

.categories {
    padding-top: 50px;
    padding-bottom: 50px;
}

.categories__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.categories__product {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 14px;
}

.categories__product .icon {
    width: 100px;
    height: 100px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.categories__product:hover .icon {
    fill: #44C697;
}

.categories__name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
    color: #1E2E36;
    margin-top: 10px;
    border-bottom: 3px solid transparent;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.categories__product--active .categories__name {
    border-bottom: 3px solid #44C697;
}

.categories__product--active .icon {
    fill: #44C697;
}

.categories__product:hover .categories__name {
    border-bottom: 3px solid #44C697;
}

.categories__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

.categories__box {
    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.categories__box:hover {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
}

.categories__box:hover .categories__info {
    background-color: #44C697;
}

.categories__box:hover .categories__info .categories__name {
    color: #fff;
}

.categories__box:hover .categories__price {
    color: #fff;
}

.categories__img {
    display: block;
}

.categories__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 15px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.categories__price {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #1E2E36;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.categories__price--current {
    color: #FF1B1B;
}

.categories__price--before {
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #BCBDBB;
}

.categories__state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    top: 10px;
}

.categories__new, 
.categories__hit,
.categories__stock {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 5px 15px;
}

.categories__new, 
.categories__hit {
    background: #1E2E36;
}

.categories__stock {
    background: #FF1B1B;
    margin-top: 10px;
}

.categories__more {
    max-width: 190px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 0;
}

/* ABOUT US */
.about-us, 
.form {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.about-us__content {
    background-image: url('../images/about_us/about-us.jpg');
    background-repeat: no-repeat;
    background-position: right;
    padding: 100px 0;
}

.about-us__box {
    max-width: 800px;
    width: 60%;
    padding: 50px 30px 50px 50px;
    background-color: #fff;
    border-right: 15px solid #44C697;
    border-radius: 0px 3px 3px 0px;
}

.about-us__text {
    max-width: 710px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: #1E2E36;
    margin-top: 0;
    margin-bottom: 15px;
}

.about-us__text--name {
    text-transform: uppercase;
    font-weight: bold;
    color: #44c697;
}

.about-us__text:last-child {
    margin-bottom: 0;
}

.about-us__more {
    text-decoration: none;
    color: #44c697;
    font-size: 22px;
    line-height: 22px;
    margin-top: 13px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 12px;
}

.about-us__more::before {
    content: "";
    border: 6px solid transparent; 
    border-bottom: 11px solid #44c697;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 14px;
}

/* SECTION FORM */
.form {
    padding-bottom: 110px;
}

.form__content {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url('../images/form/form_bg.jpg');
}

.form-box {
    max-width: 513px;
    width: 60%;
    padding: 50px 50px 50px 30px;
    background-color: #fff;
    border-left: 15px solid #44C697;
    border-radius: 0px 3px 3px 0px;
    margin-left: auto;
}

.form-box__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;
    color: #1E2E36;
}

.form-box__input {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    max-width: 432px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #1E2E36;
    background-color: #fff;
    padding: 14px 15px;
    margin-bottom: 15px;
}

.form-box__input::placeholder {
    color: #1E2E36;
}

.form-box__input--tel::placeholder {
    color: #70787c;
}

.form-box__send {
    max-width: inherit;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

.form-box__text {
    max-width: 395px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    color: #1E2E36;
}

.form-box__tel {
    font-weight: bold;
}

/* FOOTER */
.footer {
    background-image: url('../images/footer/footer_bg.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-color: #1E2E36;
}

.footer__content {
    max-width: 831px;   
    width: 100%;
    background-color: #1E2E36;
    position: relative;
    padding: 50px 56px 15px 50px;
}

.button-up {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #44C697;
    -webkit-box-shadow: 0px 4px 12px rgba(130, 130, 130, 0.2);
    box-shadow: 0px 4px 12px rgba(130, 130, 130, 0.2);
    top: -10px;
}

.button-up span {
    position: absolute;
    top: 20px;
    width: 20px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(90deg) translate(1px, 10px);
    -ms-transform: rotate(90deg) translate(1px, 10px);
    transform: rotate(90deg) translate(1px, 10px);
}

.footer .logo-link {
    display: block;
    margin-left: 0;
    margin-bottom: 50px;
}

.footer__item {
    margin-bottom: 15px;
    position: relative;
    margin-left: 25px;
}

.footer__item:hover .footer__link {
    color: #44c697;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__item::before {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #44c697;
    position: absolute;
    top: 50%;
    left: -25px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.footer__item:hover::before {
    background-color: #fff;
    -webkit-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
}

.footer__link,
.footer__location,
.footer__schedule,
.footer__tel {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    margin-bottom: 15px;
}

.footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 85px;
}

.footer__lists--categories {
    margin-right: 57px;
}

.footer__lists--nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.footer .icon {
    fill: #fff;
}

.footer__tel .icon {
    fill: transparent;
    stroke: #44c697;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.footer__schedule {
    text-transform: none;
}

.footer__tel {
    color: #44c697;
    margin-bottom: 5px;
}

.footer__tel:hover .icon {
    stroke: #fff;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.footer__tel--nonicon {
    margin-left: 25px;
    margin-bottom: 0;
}

.footer-socials {
    margin-top: 30px;
}

.footer-socials__title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
}

.footer-socials__link {
    margin-left: 20px;
}

.footer-socials__link--first {
    margin-left: 0;
}

.footer__privacy {
    color: #eaebec;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-have-been-working,
.footer__company {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
}

.footer__company  {
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
}

.footer__company .icon {
    vertical-align: top;
    fill: #FFD001;
}

.button-up span::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    margin: 0;
    padding: 4px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position: relative;
    right: 4px;
    bottom: 14px;
}

@media (max-width: 1700px) {
    .buttons-block__order {
        display: none;
    }

    .advantages-carousel__controls--left {
        left: 0;
    }

    .advantages-carousel__controls--right {
        right: 0;
    }

    .advantages-carousel__title {
        font-size: 26px;
    }

    .advantages-carousel__text {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .logo-link {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-left: 0;
    }

    .breadcrumbs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1240px) {
    .categories__box {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1180px) {
    .header-inner__lists {
        display: none;
    }

    .advantages-carousel__title {
        font-size: 20px;
    }
}

@media (max-width: 996px) {
    .breadcrumbs {
        display: none;
    }

    .advantages-carousel__slide:first-child {
        display: none;
    }

    .advantages-carousel__content {
        padding-left: 40px;
    }

    .advantages-carousel__title {
        font-size: 24px;
    }

    .advantages-carousel__controls--left {
        left: 5px;
    }

    .advantages-carousel__controls--right {
        right: 5px;
    }

    .categories__product {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
        flex: 0 0 33.3%;
    }

    .about-us__content,
    .form__content {
        background-size: cover;
    }

    .footer {
        background-image: none;
    }
}

@media (max-width: 768px) {
    .header-inner:first-child {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header:nth-child(2) {
        top: 63px;
    }

    .mob-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        outline: none;
    }

    .m-line.active {
        position: relative;
    }

    .m-line:first-child.active {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
    }

    .m-line:nth-child(2).active {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -8px;
    }

    .m-line:last-child.active {
        display: none;
    }

    .header-inner__lists {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: fixed;
        top: 160px;
        left: 0;
        width: 100%;
        max-width: 250px;
        background-color: #f1f1f1;
        padding-top: 12px;
        padding-left: 2%;
        margin-left: 0;
        height: 100%;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
        z-index: 98;
    }

    .header-inner__lists.active-menu  {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .header-inner__list  {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .advantages-carousel__title {
        font-size: 20px;
    }

    .categories__box:nth-child(odd) {
        display: none;
    }

    .about-us__text {
        font-size: 16px;
    }

    .about-us__more {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .about-us__text:nth-child(2),
    .about-us__text:nth-child(3) {
        display: none;
    }

    .footer-have-been-working span,
    .footer__privacy span {
        display: none;
    }

    .footer__lists--categories {
        display: none;
    }

    .footer__content {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 650px) {
    .advantages-carousel__wrapper {
        display: block;
    }

    .advantages-carousel__slide:nth-child(2) {
        display: none;
    }

    .advantages-carousel__title {
        font-size: 26px;
    }

    .advantages-carousel__text {
        font-size: 18px;
    }

    .categories__img {
        width: 100%;
    }

    .advantages__title,
    .categories__title,
    .about-us__title,
    .form__title {
        font-size: 32px;
    }

    .form-box__title {
        font-size: 28px;
    }

    .footer__lists--nav,
    .footer__main {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
}

@media (max-width: 590px) {
    .header-inner__socials {
        display: none;
    }

    .main-screen {
        padding-bottom: 232px;
    }

    .main-screen__info {
        padding: 100px 14px;
        max-width: 250px;
    }

    .main-screen__title {
        font-size: 42px;
    }

    .main-screen__subtitle {
        font-size: 22px;
    }

    .main-screen__descrip {
        font-size: 22px;
    }

    .categories__product {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }

    .about-us__box,
    .form-box {
        width: 90%;
    }

    .footer-socials__title {
        display: none;
    }
}

@media (max-width: 520px) {
    .footer__info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .footer-socials__title {
        display: block;
    }

    .footer__lists--nav {
        margin-bottom: 50px;
        margin-right: 20px;
    }
}

@media (max-width: 490px) {
    .wrapper {
        width: 90%;
    }

    .header-inner__socials {
        display: none;
    }

    .main-screen {
        margin-top: 144px;
    }

    .logo-link {
        margin-right: 15px;
    }

    .logo-link__img {
        width: 200px;
    }

    .buttons-block__basket {
        padding: 1px 6px;
    }

    .header-inner__lists {
        top: 140px;
    }

    .advantages-carousel__title {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        font-size: 20px;
        opacity: 0;
    }
 
    .advantages-carousel__text {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        font-size: 16px;
    }

    .categories__box .categories__name {
        font-size: 18px;
    }

    .categories__price {
        font-size: 18px;
    }

    .categories__price--before {
        font-size: 14px;
    }

    .footer__info {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (max-width: 390px) {
   .advantages-carousel__title {
       font-size: 18px;
   }

   .categories__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

   .advantages__title,
   .categories__title,
   .about-us__title,
   .form__title {
       font-size: 26px;
   }

   .form-box__title {
        font-size: 24px;
    }

   .form-box__text {
        font-size: 16px;
    }

    .footer-socials__title {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .categories__box:nth-child(even) {
        display: none;
    }

    .categories__box:last-child {
        display: block;
    }
}