* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    font-family: 'ProximaNova', sans-serif;
    color: #1E2E36;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}

.header:first-child {
    border-bottom: 1px solid rgba(30,46,54, 0.6);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner:first-child {
    display: flex;
    align-items: center;
}

.header:nth-child(2) {
    top: 58px;
}

.header-inner__socials {
    display: flex;
    align-items: center;
}

.header-inner__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #1E2E36;
}

.icon{
    width: 20px;
    height: 20px;
}

.header-inner__link, 
.header-inner__item,
.header-inner__tel {
    text-decoration: none;
}

.header-inner__link {
    margin-left: 10px;
}

.header-inner__link .icon {
    transition-duration: .5s;
}

.header-inner__link:hover .icon {
    fill: #44C697;
}

.header-inner__tel {
    display: inline-flex;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #1E2E36;
}

.header-inner__tel::after,
.breadcrumbs__item::after {
    content: "";
    border: solid #1E2E36;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 6px;
    margin-bottom: 13px;
    margin-top: 6px;
}

.header-inner__tel .icon {
    margin-right: 5px;
}

.header-inner__phone {
    margin-left: 50px;
}

.header-inner__lists {
    display: flex;
    margin-left: 15px;
}

.header-inner__list {
    margin-left: 15px;
    border-bottom: 3px solid transparent;
    transition-duration: .5s;
}

.header-inner__list:first-child {
    margin-left: 0;
}

.header-inner__list:hover {
    border-bottom: 3px solid #44C697;
}

.header-inner__list--active {
    border-bottom: 3px solid #44C697;
}

.header-inner__item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #1E2E36;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs__item {
    display: inline-flex;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;  
    color: #1E2E36;
    margin-right: 38px;
    cursor: pointer;
    transition-duration: .5s;
}

.breadcrumbs__item:hover {
    color: #44C697;
}

.breadcrumbs__item:hover::after {
    border: solid #44C697;
    border-width: 0 2px 2px 0;
}

.breadcrumbs__item:last-child {
    margin-right: 0;
}

.logo-link {
    flex-grow: 1;
    margin-left: 115px;
}

.logo-link__img {
    display: block;
}

.buttons-block {
    display: flex;
    justify-content: flex-end;
    flex-grow: 11;
}

.buttons-block__btn,
.main-screen__more { 
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    height: 51px;
    border-radius: 3px;
    transition-duration: .5s;
}

.buttons-block__basket {
    color: #1E2E36; 
    background-color: transparent;
    padding-left: 15px;
    padding-right: 25px;
}

.buttons-block__basket .icon {
    vertical-align: bottom;
    width: 30px;
    height: 30px;
    transition-duration: .5s;
}

.buttons-block__basket:hover .icon {
    fill: #fff;
}

.buttons-block__basket:hover {
    color: #fff;
    background-color: #44C697;
}

.buttons-block__order,
.main-screen__more {
    color: #fff;
    background-color: #44C697;
    min-width: 278px;
    margin-left: 30px;
}

.main-screen {
    background-image: url('../images/main_screen/main-sceen_1.jpg');
    background-repeat: no-repeat;
    margin-top: 164px;
    padding-bottom: 107px;
}

.main-screen__info {
    background: #fff;
    border-left: 15px solid #44C697;
    max-width: 462px;
    padding: 100px 75px;
    text-align: center;  
}

.main-screen__title,
.main-screen__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    color: #1E2E36;
}

.main-screen__title {
    margin-bottom: 50px;
}

.main-screen__subtitle {
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 10px;
}

.main-screen__descrip {
    margin-top: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 125%;
    color: #1E2E36;
}

.main-screen__more {
    display: block;
    text-decoration: none;
    height: inherit;
    padding: 14px 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 210px;
    min-width: inherit;
    margin-bottom: 50px;
    border: 3px solid transparent;
    transition-duration: .5s;
}

.main-screen__more:hover {
    color: #1E2E36;
    background-color: transparent;
    border: 3px solid #44C697;
}

.main-screen__fraction {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: #1E2E36;
}

.main-screen__fraction--current {
    font-size: 36px;
}

.main-screen__controls {
    margin-top: 9px;
}

.main-screen__btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #1E2E36;
    border-radius: 50%;
    position: relative;
}

.main-screen__btn::after, 
.main-screen__btn::before {
    content: "";
    position: absolute;
    padding: 3px;
}

.main-screen__btn--left::after, 
.main-screen__btn--left::before {
    border: solid #1E2E36;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
    top: calc(50% - 4px);
    left: calc(50% - 2px);
    
}
.main-screen__btn--right::after, 
.main-screen__btn--right::before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    top: calc(50% - 3px);
    left: calc(50% - 5px);
}

.main-screen__btn--left {
    background-color: transparent;
    margin-right: 5px;
}

.main-screen__btn--right {
    background-color: #1E2E36;
}

.button-down {
    position: relative;
    display: none;
    width: 19px;
    height: 31px;
    border-radius: 10px;
    border: 2px solid #fff;
    left: calc(50% - 10px);
    background-color: transparent;
    cursor: pointer;
}

.button-down::after {
    content: "";
    position: absolute;
    height: 5px;
    top: 5px;
    left: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
}

.mob-menu {
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.m-line {
    width: 100%;
    height: 1px;
    background-color: #1E2E36;
    transition-duration: .5s;
}

.mob-menu:hover .m-line {
    background-color: #44C697;
}

@media (max-width: 1700px) {
    .buttons-block__order {
        display: none;
    }
}

@media (max-width: 1400px) {
    .logo-link {
        order: -1;
        margin-left: 0;
    }

    .breadcrumbs {
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1180px) {
    .header-inner__lists {
        display: none;
    }
}

@media (max-width: 996px) {
    .breadcrumbs {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-inner:first-child {
        flex-grow: 1;
        justify-content: space-between;
    }

    .header:nth-child(2) {
        top: 63px;
    }

    .mob-menu {
        display: flex;
        outline: none;
    }

    .m-line.active {
        position: relative;
    }

    .m-line:first-child.active {
        transform: rotate(45deg);
        top: 8px;
    }
    .m-line:nth-child(2).active {
        transform: rotate(-45deg);
        top: -8px;
    }
    .m-line:last-child.active {
        display: none;
    }

    .header-inner__lists {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 160px;
        left: 0;
        width: 100%;
        max-width: 250px;
        background-color: #f1f1f1;
        padding-top: 12px;
        padding-left: 2%;
        margin-left: 0;
        height: 100%;
        transform: translateX(-100%);
        transition-duration: .5s;
        z-index: 98;
    }

    .header-inner__lists.active-menu  {
        transform: translateX(0);
    }

    .header-inner__list  {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 590px) {
    .header-inner__socials {
        display: none;
    }

    .main-screen {
        padding-bottom: 182px;
    }

    .main-screen__info {
        padding: 100px 14px;
        max-width: 250px;
    }

    .main-screen__title {
        font-size: 42px;
    }

    .main-screen__subtitle {
        font-size: 22px;
    }

    .main-screen__descrip {
        font-size: 22px;
    }
}

@media (max-width: 490px) {
    .wrapper {
        width: 90%;
    }

    .header-inner__socials {
        display: none;
    }

    .main-screen {
        margin-top: 144px;
    }

    .logo-link {
        margin-right: 15px;
    }

    .logo-link__img {
        width: 200px;
    }

    .buttons-block__basket {
        padding: 1px 6px;
    }

    .header-inner__lists {
        top: 140px;
    }
}